## ETL Project

### Billboard Top Artists

### Extraction

#### For this project we used the following databases in order to pull the relevant information.

#### Kaggle: https://www.kaggle.com/danield2255/data-on-songs-from-billboard-19992019? 
    #### CSV format of data.
#### iTunes: https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api/
    #### JSON format of data.
    
#### From Kaggle, we downloaded the csv file from the website, and then used python in order to extract the URL for each artist.

### Transform

#### Deleted columns from CSV through Python coding as well as dropped rows that contained Nan data. deep as balls. From there we, formatted the "Followers" column to a float type and changed the data appearance. Also, we decided to isolate one word artist names for this project in order simplify the API call due to time constraints. 

#### We further utlized a seperate API call format and appended each response to the final table in order to get around the documentation need to make calls from the iTunes database. Truncated number of artists to top 21 in order to stay under the max call limit for the API. Finally, once each of the documents was finalized, we combined the two tables together into order to push one data set to Mongo.

### Load

#### In order to load our dataset into MongoDB, we first created a database name and collection from the Compass interface in order to directly push the data from Jupyter Notebook into the application.

### Final Thoughts

#### With an affintiy to music we decided that a list of top billboard artists and a link to their profiles on iTunes in order to quickly access their music would be beneficial to audiophiles.

In [1]:
# Declare Dependencies 
from splinter import Browser
import pandas as pd
import requests
import warnings
import pprint as pp
import json
from pymongo import MongoClient

In [2]:
# Load CSV
billboard = "Resources/artistDf.csv"
billboard_df = pd.read_csv(billboard)

del billboard_df['X']
del billboard_df['Genres']
del billboard_df['Group.Solo']
billboard_df = billboard_df.dropna(how='any')

billboard_df['Followers'].astype(int)
billboard_df.sort_values("Followers", inplace=True, ascending=False)
billboard_df = billboard_df.reset_index(drop=True)

billboard_df["Followers"] = billboard_df["Followers"].astype(float).map("{:,.0f}".format)
billboard_df

               Artist   Followers  NumAlbums  YearFirstAlbum Gender
0          Ed Sheeran  52,698,756          8            2011      M
1               Drake  41,420,478         11            2010      M
2             Rihanna  34,436,700         16            2005      F
3       Justin Bieber  30,711,450         10            2009      M
4              Eminem  30,220,119         12            1999      M
..                ...         ...        ...             ...    ...
946              Toya       2,425          9            2001      F
947    Jeannie Ortega       1,442          3            2006      F
948    Eric Heatherly       1,093          3            2000      M
949      Terry Dexter         790          3            1999      F
950  Down A.K.A. Kilo         775          5            1998      M

[951 rows x 5 columns]

In [3]:
billboard_df.to_csv(r'Resources/clean_artist.csv', index = False)

In [4]:
# Load Final Top 20 Artists
top_artist = "Resources/clean_artist_final.csv"
top_artist = pd.read_csv(top_artist)
top_artist

         Artist   Followers  NumAlbums  YearFirstAlbum Gender
0         Drake  41,420,478         11            2010      M
1       Rihanna  34,436,700         16            2005      F
2        Eminem  30,220,119         12            1999      M
3      Coldplay  22,458,057         10            2000      M
4          Play  22,458,057          3            2003      F
5         Queen  20,501,475         28            1973      M
6       Beyonce  20,494,887         12            2003      F
7         Adele  17,965,158          3            2008      F
8       Shakira  17,399,459         11            1995      F
9           Sia  14,117,938         12            2003      F
10    Metallica  12,040,848         17            1983      M
11      Nirvana   9,609,725         11            1991      M
12        Migos   9,473,441         13            2011      M
13  OneRepublic   8,660,053          7            2007      M
14    Aerosmith   7,359,118         19            1973      M
15      Pitbull   7,293,018         15            2004      M
16        Usher   7,186,671          8            1994      M
17           U2   5,714,273         17            1980      M
18        Blink   5,386,066         12            1994      M
19         Muse   5,302,069         10            1999      M
20        Wisin   4,955,084          4            2004      M

In [5]:
artist = top_artist["Artist"]
artist = [x.lower() for x in artist]
artist

['drake',
 'rihanna',
 'eminem',
 'coldplay',
 'play',
 'queen',
 'beyonce',
 'adele',
 'shakira',
 'sia',
 'metallica',
 'nirvana',
 'migos',
 'onerepublic',
 'aerosmith',
 'pitbull',
 'usher',
 'u2',
 'blink',
 'muse',
 'wisin']

In [6]:
url = "https://itunes.apple.com/search?term="
end_url = "&limit=1"

In [7]:
artist0 = artist[0]
response0 = requests.get(url+str(artist0)+end_url).json()

In [8]:
artist1 = artist[1]
response1 = requests.get(url+str(artist1)+end_url).json()

In [9]:
artist2 = artist[2]
response2 = requests.get(url+str(artist2)+end_url).json()

In [10]:
artist3 = artist[3]
response3 = requests.get(url+str(artist3)+end_url).json()

In [11]:
artist4 = artist[4]
response4 = requests.get(url+str(artist4)+end_url).json()

In [12]:
artist5 = artist[5]
response5 = requests.get(url+str(artist5)+end_url).json()

In [13]:
artist6 = artist[6]
response6 = requests.get(url+str(artist6)+end_url).json()

In [14]:
artist7 = artist[7]
response7 = requests.get(url+str(artist7)+end_url).json()

In [15]:
artist8 = artist[8]
response8 = requests.get(url+str(artist8)+end_url).json()

In [16]:
artist9 = artist[9]
response9 = requests.get(url+str(artist9)+end_url).json()

In [17]:
artist10 = artist[10]
response10 = requests.get(url+str(artist10)+end_url).json()

In [18]:
artist11 = artist[11]
response11 = requests.get(url+str(artist11)+end_url).json()

In [19]:
artist12 = artist[12]
response12 = requests.get(url+str(artist12)+end_url).json()

In [20]:
artist13 = artist[13]
response13 = requests.get(url+str(artist13)+end_url).json()

In [21]:
artist14 = artist[14]
response14 = requests.get(url+str(artist14)+end_url).json()

In [22]:
artist15 = artist[15]
response15 = requests.get(url+str(artist15)+end_url).json()

In [23]:
artist16 = artist[16]
response16 = requests.get(url+str(artist16)+end_url).json()

In [24]:
artist17 = artist[17]
response17 = requests.get(url+str(artist17)+end_url).json()

In [25]:
artist18 = artist[18]
response18 = requests.get(url+str(artist18)+end_url).json()

In [26]:
artist19 = artist[19]
response19 = requests.get(url+str(artist19)+end_url).json()

In [27]:
artist20 = artist[20]
response20 = requests.get(url+str(artist20)+end_url).json()

In [28]:
artist_url = []

In [29]:
for x in response0['results']:  
    artist_url.append(x['artistViewUrl'])

In [30]:
for x in response1['results']:  
    artist_url.append(x['artistViewUrl'])

In [31]:
for x in response2['results']:  
    artist_url.append(x['artistViewUrl'])

In [32]:
for x in response3['results']:  
    artist_url.append(x['artistViewUrl'])

In [33]:
for x in response4['results']:  
    artist_url.append(x['artistViewUrl'])

In [34]:
for x in response5['results']:  
    artist_url.append(x['artistViewUrl'])

In [35]:
for x in response6['results']:  
    artist_url.append(x['artistViewUrl'])

In [36]:
for x in response7['results']:  
    artist_url.append(x['artistViewUrl'])

In [37]:
for x in response8['results']:  
    artist_url.append(x['artistViewUrl'])

In [38]:
for x in response9['results']:  
    artist_url.append(x['artistViewUrl'])

In [39]:
for x in response10['results']:  
    artist_url.append(x['artistViewUrl'])

In [40]:
for x in response11['results']:  
    artist_url.append(x['artistViewUrl'])

In [41]:
for x in response12['results']:  
    artist_url.append(x['artistViewUrl'])

In [42]:
for x in response13['results']:  
    artist_url.append(x['artistViewUrl'])

In [43]:
for x in response14['results']:  
    artist_url.append(x['artistViewUrl'])

In [44]:
for x in response15['results']:  
    artist_url.append(x['artistViewUrl'])

In [45]:
for x in response16['results']:  
    artist_url.append(x['artistViewUrl'])

In [46]:
for x in response17['results']:  
    artist_url.append(x['artistViewUrl'])

In [47]:
for x in response18['results']:  
    artist_url.append(x['artistViewUrl'])

In [48]:
for x in response19['results']:  
    artist_url.append(x['artistViewUrl'])

In [49]:
for x in response20['results']:  
    artist_url.append(x['artistViewUrl'])

In [50]:
top_artist["URL"] = artist_url
top_artist

,Artist,Followers,NumAlbums,YearFirstAlbum,Gender,URL
0,Drake,"41,420,478",11,2010,M,https://music.apple.com/us/artist/drake/271256...
1,Rihanna,"34,436,700",16,2005,F,https://music.apple.com/us/artist/rihanna/6334...
2,Eminem,"30,220,119",12,1999,M,https://music.apple.com/us/artist/eminem/11105...
3,Coldplay,"22,458,057",10,2000,M,https://music.apple.com/us/artist/the-chainsmo...
4,Play,"22,458,057",3,2003,F,https://music.apple.com/us/artist/david-banner...
5,Queen,"20,501,475",28,1973,M,https://music.apple.com/us/artist/queen/329628...
6,Beyonce,"20,494,887",12,2003,F,https://music.apple.com/us/artist/beyonc%C3%A9...
7,Adele,"17,965,158",3,2008,F,https://music.apple.com/us/artist/adele/262836...
8,Shakira,"17,399,459",11,1995,F,https://music.apple.com/us/artist/shakira/8893...
9,Sia,"14,117,938",12,2003,F,https://music.apple.com/us/artist/sia/13493906...
10,Metallica,"12,040,848",17,1983,M,https://music.apple.com/us/artist/metallica/39...
11,Nirvana,"9,609,725",11,1991,M,https://music.apple.com/us/artist/nirvana/1120...
12,Migos,"9,473,441",13,2011,M,https://music.apple.com/us/artist/migos/569925...
13,OneRepublic,"8,660,053",7,2007,M,https://music.apple.com/us/artist/onerepublic/...
14,Aerosmith,"7,359,118",19,1973,M,https://music.apple.com/us/artist/aerosmith/11...
15,Pitbull,"7,293,018",15,2004,M,https://music.apple.com/us/artist/pitbull/2704...
16,Usher,"7,186,671",8,1994,M,https://music.apple.com/us/artist/usher/15885?...
17,U2,"5,714,273",17,1980,M,https://music.apple.com/us/artist/u2/78500?uo=4
18,Blink,"5,386,066",12,1994,M,https://music.apple.com/us/artist/blink-182/11...
19,Muse,"5,302,069",10,1999,M,https://music.apple.com/us/artist/muse/1093360...
20,Wisin,"4,955,084",4,2004,M,https://music.apple.com/us/artist/wisin/492523...

In [52]:
# Connect to MongoDB
client =  MongoClient("mongodb://localhost:27017/")
db = client['Billboard_Top_Artists']
collection = db['One_Name_Artists']
top_artist.reset_index(inplace=True)
data_dict = top_artist.to_dict("records")

# Insert collection
collection.insert_many(data_dict)